.AdvancedFilterPosition {
    text-align: center;
    width: 80%;
    border-bottom: black;
    border-width: 3px;
    margin-left: 10%;
    margin-bottom: 0%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(228, 197, 119);
}

.SearchButtonPosition {
    padding-left: 10%;
}

.Button {
    width: 30px;
    height: 20px;
}
