.TableComponent {
    text-align: center
}

.TableComponent-logo {
    background-color: rgb(228, 207, 156);
    height: 5vmin;
    margin-top: 0%;
    margin-bottom: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Table-body {
    background-color: rgb(228, 207, 156);
    height: 80vmin;
    margin-top: 0%;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
}

.Word-spacer {
    border-top: black;
    border-bottom: black;
    border-left: black;
    border-right: black;
    border-style: solid;
    border-width: 2px;
    width: 80%;

}
